In [1]:
import Thermobar as pt
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pickle import dump
import pickle
import PySulfSat as ss

In [2]:
cols_ideal=pd.DataFrame(columns=['Sample', 'P_kbar', 'T_K', 'SiO2_Liq', 'TiO2_Liq', 'Al2O3_Liq', 'FeOt_Liq', 'MgO_Liq',
            'CaO_Liq', 'Na2O_Liq', 'K2O_Liq', 'P2O5_Liq', 'H2O_Liq', 'S_Liq_ppm',
            'logfO2', 'Fe_sulf_wt%', 'Cu_sulf_wt%', 'Ni_sulf_wt%', 'S_sulf_wt'])

In [3]:
def rearrange_cali(df):
    comps = df.reindex(
        cols_ideal.columns, axis=1)
    comps['Fe_FeNiCu_sulf']=ss.calculate_sulf_FeFeNiCu(
        Ni_Sulf=comps['Ni_sulf_wt%'], Cu_Sulf=comps['Cu_sulf_wt%'],
        Fe_Sulf=comps['Fe_sulf_wt%'])
    comps['Cu_FeNiCu_sulf']=ss.calculate_sulf_CuFeNiCu(
        Ni_Sulf=comps['Ni_sulf_wt%'], Cu_Sulf=comps['Cu_sulf_wt%'],
        Fe_Sulf=comps['Fe_sulf_wt%'])
    comps['Ni_FeNiCu_sulf']=ss.calculate_sulf_NiFeNiCu(
        Ni_Sulf=comps['Ni_sulf_wt%'], Cu_Sulf=comps['Cu_sulf_wt%'],
        Fe_Sulf=comps['Fe_sulf_wt%'])  
    comps['T_C']=comps['T_K']-273.15
    
    return comps

## Smythe et al. (2017)

In [4]:
Sdf=pd.read_excel('Calibration_datasets.xlsx', 
                  sheet_name='Smythe17')

combo=rearrange_cali(df=Sdf)

combo.to_pickle("Cali_Smythe17.pkl")
combo.head()

,Sample,P_kbar,T_K,SiO2_Liq,TiO2_Liq,Al2O3_Liq,FeOt_Liq,MgO_Liq,CaO_Liq,Na2O_Liq,...,S_Liq_ppm,logfO2,Fe_sulf_wt%,Cu_sulf_wt%,Ni_sulf_wt%,S_sulf_wt,Fe_FeNiCu_sulf,Cu_FeNiCu_sulf,Ni_FeNiCu_sulf,T_C
0,Ni2-1,15.0,1673.15,44.231240,0.013750,17.705950,0.877700,17.695880,16.435050,0.349490,...,4970.200000,NaN,44.905191,0.310848,14.979852,NaN,0.755580,0.004597,0.239824,1400.0
1,Cu6-2,15.0,1673.15,54.833288,0.401312,7.782764,5.066848,12.929794,15.334864,0.328985,...,1443.042424,NaN,52.042737,11.065209,0.362187,NaN,0.837889,0.156562,0.005548,1400.0
2,Ni2-2,15.0,1673.15,57.162203,NaN,12.053139,5.562758,10.548994,12.107030,NaN,...,2178.921212,NaN,42.984695,0.233971,15.900133,NaN,0.737062,0.003526,0.259413,1400.0
3,Ni3-2,15.0,1673.15,58.617776,NaN,11.272858,4.575133,11.624648,11.985852,NaN,...,618.109091,NaN,31.394431,0.729434,35.263693,NaN,0.478659,0.009774,0.511567,1400.0
4,Ni4-1,15.0,1673.15,55.860169,NaN,9.518120,4.131537,10.771509,15.978406,NaN,...,325.268571,NaN,13.403597,24.278478,33.996047,NaN,0.199795,0.318043,0.482161,1400.0

## Li and Zhang 2022

In [5]:
LZdf=pd.read_excel('Calibration_datasets.xlsx', 
                  sheet_name='Li_Zhang_22')

combo=rearrange_cali(df=LZdf)

combo.to_pickle("Cali_LiZhang22.pkl")
combo.head()

,Sample,P_kbar,T_K,SiO2_Liq,TiO2_Liq,Al2O3_Liq,FeOt_Liq,MgO_Liq,CaO_Liq,Na2O_Liq,...,S_Liq_ppm,logfO2,Fe_sulf_wt%,Cu_sulf_wt%,Ni_sulf_wt%,S_sulf_wt,Fe_FeNiCu_sulf,Cu_FeNiCu_sulf,Ni_FeNiCu_sulf,T_C
0,B-4,2.89,1323.15,44.58,4.54,12.84,13.11,5.47,9.48,2.58,...,NaN,-10.260196,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1050.0
1,B-11,3.12,1323.15,44.22,4.67,12.94,12.97,5.43,9.37,2.61,...,NaN,-10.044314,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1050.0
2,B-12,3.12,1323.15,43.86,4.69,12.77,14.29,5.57,9.47,2.59,...,NaN,-10.044314,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1050.0
3,B-13,3.12,1323.15,43.82,4.63,12.74,14.36,5.43,9.51,2.54,...,NaN,-10.044314,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1050.0
4,B-16,2.99,1323.15,46.55,3.55,14.74,12.97,4.26,8.83,3.16,...,NaN,-10.253291,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1050.0

## Liu et al. 2021

In [6]:
Liudf=pd.read_excel('Calibration_datasets.xlsx', 
                  sheet_name='Liu_21')

combo=rearrange_cali(df=Liudf)

combo.to_pickle("Cali_Liu2021.pkl")
combo.head()

,Sample,P_kbar,T_K,SiO2_Liq,TiO2_Liq,Al2O3_Liq,FeOt_Liq,MgO_Liq,CaO_Liq,Na2O_Liq,...,S_Liq_ppm,logfO2,Fe_sulf_wt%,Cu_sulf_wt%,Ni_sulf_wt%,S_sulf_wt,Fe_FeNiCu_sulf,Cu_FeNiCu_sulf,Ni_FeNiCu_sulf,T_C
0,FeS,10,1523,51.284833,0.894917,17.131833,7.131500,7.194833,10.686333,2.576167,...,1398.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1249.85
1,Fe90,10,1523,50.991273,0.707545,16.853636,8.508455,7.081000,10.349091,2.506182,...,1328.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1249.85
2,Fe80,10,1523,49.595667,1.106000,17.333000,6.882083,7.231250,10.566917,2.532917,...,1137.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1249.85
3,Fe70,10,1523,51.530500,0.725250,16.872125,6.809500,7.043750,10.456625,2.497000,...,1019.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1249.85
4,Fe50,10,1523,52.642333,0.754583,17.426750,5.821167,7.214833,10.481083,2.598750,...,775.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1249.85

## Blanchard et al. 2021

In [7]:
Bldf=pd.read_excel('Calibration_datasets.xlsx', 
                  sheet_name='Blanchard_etal_2021')

combo=rearrange_cali(df=Bldf)

combo.to_pickle("Cali_Blanchard2021.pkl")
combo.head()

,Sample,P_kbar,T_K,SiO2_Liq,TiO2_Liq,Al2O3_Liq,FeOt_Liq,MgO_Liq,CaO_Liq,Na2O_Liq,...,S_Liq_ppm,logfO2,Fe_sulf_wt%,Cu_sulf_wt%,Ni_sulf_wt%,S_sulf_wt,Fe_FeNiCu_sulf,Cu_FeNiCu_sulf,Ni_FeNiCu_sulf,T_C
0,Ni2-1,15.0,1673.15,44.231240,0.013750,17.705950,0.877700,17.695880,16.435050,0.349490,...,4970.200000,NaN,44.905191,0.310848,14.979852,NaN,0.755580,0.004597,0.239824,1400.0
1,Cu6-2,15.0,1673.15,54.833288,0.401312,7.782764,5.066848,12.929794,15.334864,0.328985,...,1443.042424,NaN,52.042737,11.065209,0.362187,NaN,0.837889,0.156562,0.005548,1400.0
2,Ni2-2,15.0,1673.15,57.162203,NaN,12.053139,5.562758,10.548994,12.107030,NaN,...,2178.921212,NaN,42.984695,0.233971,15.900133,NaN,0.737062,0.003526,0.259413,1400.0
3,Ni3-2,15.0,1673.15,58.617776,NaN,11.272858,4.575133,11.624648,11.985852,NaN,...,618.109091,NaN,31.394431,0.729434,35.263693,NaN,0.478659,0.009774,0.511567,1400.0
4,Ni4-1,15.0,1673.15,55.860169,NaN,9.518120,4.131537,10.771509,15.978406,NaN,...,325.268571,NaN,13.403597,24.278478,33.996047,NaN,0.199795,0.318043,0.482161,1400.0

## Fortin et al. (2015)

In [8]:
Fodf=pd.read_excel('Calibration_datasets.xlsx', 
                  sheet_name='Fortin_et_al_2015')

combo=rearrange_cali(df=Fodf)

combo.to_pickle("Cali_Fortin2015.pkl")
combo.head()

,Sample,P_kbar,T_K,SiO2_Liq,TiO2_Liq,Al2O3_Liq,FeOt_Liq,MgO_Liq,CaO_Liq,Na2O_Liq,...,S_Liq_ppm,logfO2,Fe_sulf_wt%,Cu_sulf_wt%,Ni_sulf_wt%,S_sulf_wt,Fe_FeNiCu_sulf,Cu_FeNiCu_sulf,Ni_FeNiCu_sulf,T_C
0,MAF-45,10.0,1523,58.0,0.79,15.26,7.72,1.88,5.43,3.52,...,1265,-8.87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1249.85
1,MAF-38,10.0,1523,58.3,0.82,15.39,7.66,1.88,5.42,3.65,...,1167,-8.87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1249.85
2,MAF-36,10.0,1523,58.5,0.78,15.42,7.65,1.90,5.41,3.74,...,1094,-8.87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1249.85
3,MAF-32,10.0,1523,58.9,0.80,15.62,7.86,1.92,5.54,3.97,...,776,-8.87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1249.85
4,MAF-28,10.0,1523,59.1,0.80,15.91,8.51,1.97,5.67,4.06,...,707,-8.87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1249.85

## CS6 Boulling and Wood 2022

In [9]:
BWdf=pd.read_excel('Calibration_datasets.xlsx', 
                  sheet_name='BoulliungWood_22')

combo=rearrange_cali(df=BWdf)

combo.to_pickle("Cali_BW2022.pkl")
combo.head()

,Sample,P_kbar,T_K,SiO2_Liq,TiO2_Liq,Al2O3_Liq,FeOt_Liq,MgO_Liq,CaO_Liq,Na2O_Liq,...,S_Liq_ppm,logfO2,Fe_sulf_wt%,Cu_sulf_wt%,Ni_sulf_wt%,S_sulf_wt,Fe_FeNiCu_sulf,Cu_FeNiCu_sulf,Ni_FeNiCu_sulf,T_C
0,NaN,0.001,1473,49.1,2.97,16.6,7.63,4.3,9.8,4.28,...,1553.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1199.85
1,NaN,0.001,1473,49.1,0.93,14.4,8.88,8.5,12.4,2.41,...,1813.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1199.85
2,NaN,0.001,1473,43.2,2.93,14.3,8.41,7.7,14.4,2.58,...,4094.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1199.85
3,NaN,0.001,1473,47.2,2.55,12.1,9.30,10.4,10.7,2.92,...,2567.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1199.85
4,NaN,0.001,1473,57.7,1.64,20.7,4.88,2.0,4.6,6.03,...,726.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1199.85

## ONeill 2022

In [10]:
O22df=pd.read_excel('Calibration_datasets.xlsx', 
                  sheet_name='OneillMavrogenes_22')

combo=rearrange_cali(df=O22df)

combo.to_pickle("Cali_OM2022.pkl")
combo.head()

,Sample,P_kbar,T_K,SiO2_Liq,TiO2_Liq,Al2O3_Liq,FeOt_Liq,MgO_Liq,CaO_Liq,Na2O_Liq,...,S_Liq_ppm,logfO2,Fe_sulf_wt%,Cu_sulf_wt%,Ni_sulf_wt%,S_sulf_wt,Fe_FeNiCu_sulf,Cu_FeNiCu_sulf,Ni_FeNiCu_sulf,T_C
0,B150502,NaN,1673.15,48.82,NaN,15.17,NaN,10.65,22.44,3.9,...,2630.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1400.0
1,B150502,NaN,1673.15,49.49,NaN,6.09,NaN,4.27,36.49,2.25,...,7955.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1400.0
2,B150502,NaN,1673.15,52.5,NaN,9.3,NaN,19.38,14.1,4.58,...,1625.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1400.0
3,B150502,NaN,1673.15,64.11,NaN,8.45,NaN,5.88,12.99,7.57,...,958.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1400.0
4,B031201,NaN,1773.15,49.69,NaN,15.28,NaN,10.64,22.94,1.79,...,258.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1500.0

## Chowdhury and Dasgupta 2022

In [11]:
CDdf=pd.read_excel('Calibration_datasets.xlsx', 
                  sheet_name='Chowdhury_Dasgupta_2019')
S_types=ss.convert_S_types(SO3_wt=CDdf['SO3'])
S_ppm=S_types['S_ppm']
CDdf.loc[~(CDdf['S_Liq_ppm']>0), 'S_Liq_ppm']=S_ppm
combo=rearrange_cali(df=CDdf)

combo.to_pickle("Cali_ChowDas22.pkl")
combo.head()

,Sample,P_kbar,T_K,SiO2_Liq,TiO2_Liq,Al2O3_Liq,FeOt_Liq,MgO_Liq,CaO_Liq,Na2O_Liq,...,S_Liq_ppm,logfO2,Fe_sulf_wt%,Cu_sulf_wt%,Ni_sulf_wt%,S_sulf_wt,Fe_FeNiCu_sulf,Cu_FeNiCu_sulf,Ni_FeNiCu_sulf,T_C
0,NaN,2.06,1300.15,69.66,0.42,17.89,3.35,1.01,1.36,4.78,...,2290.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1027.0
1,NaN,2.02,1258.15,60.14,0.64,19.05,4.18,1.98,6.29,4.96,...,1940.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,985.0
2,NaN,2.02,1258.15,61.56,0.75,18.81,3.68,1.91,5.95,4.69,...,1860.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,985.0
3,NaN,1.95,1223.15,67.08,0.10,19.60,1.76,1.32,1.81,4.33,...,1460.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,950.0
4,NaN,2.20,1213.15,69.05,0.36,18.11,3.39,1.52,1.79,4.62,...,1290.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,940.0

## Zajacz and Tsay 2019

In [12]:
ZTdf=pd.read_excel('Calibration_datasets.xlsx', 
                  sheet_name='Zajacz and Tsay, 2019')

combo=rearrange_cali(df=ZTdf)

combo.to_pickle("Cali_ZT2019.pkl")
combo.head()

,Sample,P_kbar,T_K,SiO2_Liq,TiO2_Liq,Al2O3_Liq,FeOt_Liq,MgO_Liq,CaO_Liq,Na2O_Liq,...,S_Liq_ppm,logfO2,Fe_sulf_wt%,Cu_sulf_wt%,Ni_sulf_wt%,S_sulf_wt,Fe_FeNiCu_sulf,Cu_FeNiCu_sulf,Ni_FeNiCu_sulf,T_C
0,NaN,0.6,1373.15,55.052500,1.052580,15.973750,6.713750,4.293750,7.123750,3.838750,...,4817.009282,-7.12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1100.0
1,NaN,1.2,1373.15,52.302857,1.023567,14.611699,5.522857,3.825714,10.914286,3.551400,...,6121.281539,-7.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1100.0
2,NaN,2.4,1373.15,51.792222,1.021863,14.974444,6.537778,4.092893,8.652222,3.451697,...,7242.861104,-7.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1100.0
3,NaN,2.4,1283.15,59.709429,0.601640,15.315143,4.612143,1.571571,4.694286,3.744429,...,2241.151369,-8.34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1010.0
4,NaN,0.3,1373.15,53.047375,1.051566,15.370875,6.601750,3.985625,11.931625,3.754875,...,5175.617818,-7.13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1100.0

## Masotta and Kepler 2015

In [13]:
MKdf=pd.read_excel('Calibration_datasets.xlsx', 
                  sheet_name='Masotta_Keppler_2015')

combo=rearrange_cali(df=MKdf)

combo.to_pickle("Cali_MK2015.pkl")
combo.head()

,Sample,P_kbar,T_K,SiO2_Liq,TiO2_Liq,Al2O3_Liq,FeOt_Liq,MgO_Liq,CaO_Liq,Na2O_Liq,...,S_Liq_ppm,logfO2,Fe_sulf_wt%,Cu_sulf_wt%,Ni_sulf_wt%,S_sulf_wt,Fe_FeNiCu_sulf,Cu_FeNiCu_sulf,Ni_FeNiCu_sulf,T_C
0,AND-15,2.00,1123.15,65.798295,0.465827,18.936879,1.626061,0.249500,1.696155,5.017830,...,423.100857,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,850.0
1,AND-13,2.02,1173.15,63.915132,0.434528,19.612935,1.713767,0.796105,2.759542,5.693033,...,910.784040,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,900.0
2,AND-16,2.02,1173.15,63.870342,0.477990,19.561602,1.834162,0.651651,2.997140,5.610474,...,830.692400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,900.0
3,AND-18,1.95,1223.15,60.192120,0.880998,19.128214,3.315835,1.474458,5.232112,5.599304,...,1858.858550,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,950.0
4,AND-23,1.99,1273.15,56.494104,0.905451,19.446544,4.435599,2.381835,7.652729,4.900629,...,2787.566146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.0